@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
